<navbar></navbar>
<div class="row">
  <div class="container">
    <form (submit)="register(profile)" id="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-3">
          <div class="img">
            <img src="../../../assets/{{profile.avatar_url}}" class="img-fluid" height="150" alt="Avatar" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>Username</label>
              <input type="text" class="form-control" [(ngModel)]="profile.username" name="username" placeholder="Username" required>
            </div>
            <div class="col-md-4 mb-3">
              <label>Fullname</label>
              <input type="text" class="form-control" [(ngModel)]="profile.fullname" name="fullname" placeholder="Your name" required>
            </div>
            <div class="col-md-4 mb-3">
              <label>Gender</label>
              <select class="custom-select" [(ngModel)]="profile.gender" name="gender" required>
                <option value="Male" selected>Male</option>
                <option value="Female">Female</option>
                <option value="Unspecified">I prefer not to say</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <label>About Me</label>
              <textarea type="text" class="form-control" [(ngModel)]="profile.about" name="about" placeholder="Tell us about yourself"
                required></textarea>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Email</label>
          <input type="email" class="form-control" [(ngModel)]="profile.contact.email" name="email" placeholder="Email" required>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Mobile</label>
          <input type="number" maxlength="10" class="form-control" [(ngModel)]="profile.contact.mobile" name="mobile" placeholder="Mobile Number"
            required>
          <div class="invalid-feedback">
            Please provide a mobile number.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Date of Birth</label>
          <input type="date" class="form-control" [(ngModel)]="profile.dob" name="dob" required>
          <div class="invalid-feedback">
            Please provide a valid date.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Occupation</label>
          <input type="text" class="form-control" [(ngModel)]="profile.career" name="career" placeholder="Occupation" required>
          <div class="invalid-feedback">
            Please provide a valid occupation.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="profile.password" name="password" placeholder="Choose a Password"
            required>
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Re-enter password</label>
          <input type="password" class="form-control" [(ngModel)]="profile.password" name="password_verify" placeholder="Re-enter Password"
            required>
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label>Relationship Status</label>
          <select class="custom-select" [(ngModel)]="profile.relationships.status" name="status" required>
                <option value="Single" selected>Single</option>
                <option value="In a relationship">In a Relationship</option>
                <option value="Married">Married</option>
                <option value="Almost Divorced">Almost Divorced</option>
                <option value="Divorced">Divorced</option>
                <option value="Engaged">Engaged</option>
        </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Interested in</label>
          <select class="custom-select" [(ngModel)]="profile.interests.sex" name="sex" required>
            <option value="Male" selected>Male</option>
            <option value="Female">Female</option>
            <option value="Both">Both</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Looking for</label>
          <select class="custom-select" multiple [(ngModel)]="profile.interests.others" name="interests" required>
            <option value="Dating" selected>Dating</option>
            <option value="Long-term relationship">Long-term relationship</option>
            <option value="Marriage">Marriage</option>
            <option value="Casual Dating">Casual Dating</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label>Any Kids?</label>
          <select class="custom-select" [(ngModel)]="profile.relationships.family.has_kids" id="kids" name="has_kids" required>
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
         </select>
        </div>
        <div class="col-md-3 mb-3">
          <label>How Many?</label>
          <input type="number" min="0" value="0" name="no_of_kids" [(ngModel)]="profile.relationships.family.no_of_kids">
        </div>
        <div class="col-md-3 mb-3">
          <label>Do you smoke?</label>
          <select class="custom-select" [(ngModel)]="profile.lifestyle.smokes" name="smokes" required>
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
        </div>
        <div class="col-md-3 mb-3">
          <label>Do you drink?</label>
          <select class="custom-select" [(ngModel)]="profile.lifestyle.drinks" name="drinks" required>
            <option value="Yes">Yes</option>
            <option value="No" selected>No</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>HIV Status</label>
          <select class="custom-select" [(ngModel)]="profile.health.hiv_status.status" name="hiv_status" required>
              <option value="Positive">Living Positively</option>
              <option value="Negative" selected>Negative</option>
           </select>
        </div>
        <div class="col-md-6 mb-3">
          <label>Last tested</label>
          <input type="date" class="form-control" [(ngModel)]="profile.health.hiv_status.last_tested" name="last_tested">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Any Disabilities?</label>
          <select class="custom-select" [(ngModel)]="profile.health.disability.is_disabled" name="is_disabled" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
              </select>
        </div>
        <div class="col-md-6 mb-3">
          <label>Type of Disability</label>
          <select class="custom-select" [(ngModel)]="profile.health.disability.disability_type" name="disability_type" required>
                  <option value="Visual">Visual</option>
                  <option value="Audio" selected>Hearing</option>
              </select>
        </div>
      </div>
      <br /> {{profile.contact}}
      <br />
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div> 
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      "use strict";
      window.addEventListener("load", function () {
        var form = document.getElementById("needs-validation");
        form.addEventListener("submit", function (event) {
          if (form.checkValidity() == false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        }, false);
      }, false);
    }());
  </script>