<nav class="navbar navbar-inverse navbar-justified navbar-fixed-bottom">
  <div class="container-fluid">
       <!-- Collect the nav links, forms, and other content for toggling -->
    <div>      
      <ul class="nav navbar-nav navbar-justified">
        <li class="nav-item">
          <a class="nav-link" routerLink="/chats/{{id}}" id="noti-area">
            <span class="fa fa-lock"></span> Privacy
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chats/{{id}}" id="noti-area">
            <span class="fa fa-facebook"></span> Facebook
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chats/{{id}}" id="noti-area">
            <span class="fa fa-instagram"></span> Instagram
          </a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>