<dashnavbar></dashnavbar>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-12">
            <div class="row">
                <div id="card">
                    <div class="img">
                        <img src="../../../assets/{{profile.avatar_url}}" class="img-responsive" alt="">
                        <!-- <div id="badge badge-success">
                            {{ profile.relationships.status }} &middot; {{ profile.gender }}
                        </div> -->
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="list-group col-xs-12">
                    <li class="list-group-item active">
                        About
                    </li>
                    <li class="list-group-item">
                        HIV Status
                        <span class="badge">
                               Tested {{ profile.health.hiv_status.last_tested | date:'MMM, yyyy' }}
                            </span> &middot;
                        <span class="badge">
                           {{ profile.health.hiv_status.status }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Height <span class="badge">
                               {{ profile.physique.height }} cm
                               </span>
                    </li>
                    <li class="list-group-item">
                        Weight <span class="badge">
                                {{ profile.physique.weight }} kg
                    </span>
                    </li>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="list-group col-xs-12">
                    <li class="list-group-item active">
                        Relationships
                    </li>
                    <li class="list-group-item">
                        Kids <span class="badge">
                                    {{ profile.relationships.family.has_kids == true ? profile.relationships.family.no_of_kids : 'None' }}
                                    </span>
                    </li>
                    <li class="list-group-item">
                        Status <span class="badge">
                                   {{ profile.relationships.status }}
                                   </span>
                    </li>
                    <li class="list-group-item">
                        Looking for <span class="badge">
                                    {{ profile.relationships.goal }}
                                    </span>
                    </li>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-xs-12">
            <div class="row">
                <h4>
                    {{ profile.fullname }}
                    <span class="badge">{{ profile.relationships.status }}</span>
                </h4>
                <p>
                    {{ profile.about }}
                </p>
                <p>
                    <i class="fa fa-briefcase"></i> {{ profile.career }} &middot;
                    <i class="fa fa-mobile"></i> {{ profile.contact.mobile }}
                    <i class="fa fa-globe"></i> {{ profile.location }}
                </p>
                <p class="text-muted">
                    <a href="{{ profile.social.fb }}" class="btn btn-sm btn-default">
                                    <i class="fa fa-facebook"></i> <small>Facebook</small>
                                </a>
                    <a href="{{ profile.social.instagram }}" class="btn btn-sm btn-default">
                                    <i class="fa fa-instagram"></i> <small>Instagram</small>
                                </a>
                    <a href="/request" class="btn btn-default btn-sm">
                                    <i class="fa fa-send"></i> <small>Message</small>
                                </a>
                </p>
            </div>
            <div class="row" *ngIf="profile.photos.length">
                <div class="col-sm-6 col-xs-12 col-md-3" *ngFor="let pic of profile.photos">
                    <div class="card" id="card">
                        <div class="img">
                            <img src="../../../assets/{{pic}}" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>