<dashnavbar></dashnavbar>
<div class="container">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-3 col-xs-12 col-sm-3">
            <div class="img" *ngIf="profile && profile.avatar_url">
                <img src="{{profile.avatar_url}}" class="img-responsive" alt="" />
            </div>
            <br />
            <div *ngIf="profile && !profile.avatar_url">
                <input type="file" (change)="handleFiles($event)" class="form-control">
                <button class="btn btn-sm btn-block btn-success" (click)="uploadPhoto()">Upload</button>
            </div>
        </div>
        <div class="col-md-9 col-xs-12 col-sm-9">
            <h3>
                {{ profile.fullname }}
                <span class="badge">{{ profile.relationships.status }}</span>
            </h3>
            <p>
                {{ profile.about }}
            </p>
            <p>
                <i class="fa fa-briefcase"></i> {{ profile.career }} &middot;
                <i class="fa fa-mobile"></i> {{ profile.contact.mobile }} &middot;
                <i class="fa fa-globe"></i> {{ profile.location }} &middot;
                <span class="badge">{{ age }} years</span>
            </p>
            <p class="text-muted">
                <a href="https://www.facebook.com/{{ profile.social.fb }}" *ngIf="profile.social.fb !== ''" class="btn btn-sm btn-default">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                <a href="https://www.instagram.com/{{ profile.social.instagram }}" *ngIf="profile.social.instagram !== ''" class="btn btn-sm btn-default">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                <!-- <a href="/chats/{{profile._id}}" class="btn btn-default btn-sm">
                                    <i class="fa fa-send"></i> Message
                                </a> -->
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-12">
            <div style="padding:0px 8px;">
                <div class="row">
                    <div class="list-group">
                        <li class="list-group-item active">
                            About Me
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-medicine"></i> HIV Status
                            <br />
                            <p>
                                <span class="badge">
                           {{ profile.health.hiv_status.status }}
                        </span>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-calendar"></i> Last Tested
                            <br />
                            <p>
                                <span class="badge">
                             {{ profile.health.hiv_status.last_tested | date:'MMM, yyyy' }}
                        </span>
                            </p>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-ruler"></i> Physique
                            <br />
                            <p>
                                <span class="badge">
                                        <i class="fa fa-ruler"></i>
                               {{ profile.physique.height }} cm
                               </span>

                                <span class="badge">
                                        <i class="fa fa-gym"></i>
                                {{ profile.physique.weight }} kg
                                </span>
                            </p>
                        </li>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="list-group">
                        <li class="list-group-item active">
                            Relationships
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-baby"></i> Kids
                            <span class="badge">                        
                            {{ profile.relationships.family.has_kids ? profile.relationships.family.no_of_kids + ' kids' : 'None' }}
                         </span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-sine"></i> Status
                            <span class="badge">
                            {{ profile.relationships.status }}
                        </span>
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-flash"></i> Looking for
                            <span class="badge">
                            {{ profile.relationships.goal }}
                        </span>
                        </li>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xs-12 col-sm-12">
            <div class="row" *ngIf="!photos">
                <p class="text-center text-muted">
                    No photos found at this time.
                </p>
            </div>
            <div class="row" *ngIf="photos">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <p>
                            <span class="badge">Photos</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal">Upload Photos</button>
                        </p>
                    </div>

                    <div class="panel panel-body" style="padding: 1px;">
                        <div class="col-sm-4 col-xs-6 col-md-4" *ngFor="let pic of photos | async">
                            <div class="gallery-image" (click)="viewImage(pic)">
                                <div class="img">
                                    <img src="{{pic.url}}" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Photo Upload</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <label>Choose Photos</label>
                                <input type="file" (change)="handleFiles($event)" multiple id="files" class="pull-right" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" (click)="uploadPhotos()">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>