<navbar></navbar>
<div class="jumbotron" style="width:100%; max-height:100%; 
        color:white; 
        background-image:url('../../../assets/images/cover-teddy.jpg'); 
        background-size:contain;">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h1 class="lead">
                Hey Boo
            </h1>
            <h3 class="lead">
                Meet, date and connect with people around Kenya and the world in an instant. 
                Love is for everyone. Especially you. we want to help you find it.
            </h3>
            <br />
            <p>
            <a class="btn btn-primary btn-lg" routerLink="/login">Login</a>
            <a class="btn btn-primary btn-lg" routerLink="/register">Register</a>
            </p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12" id="showcase">
            <!-- <img src="../../../assets/images/pic (14).jpg" class="img-fluid" /> -->
        </div>
    </div>
</div>