<navbar></navbar>
<div class="jumbotron">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h1 class="heading">
            Hey Boo
        </h1>
        <h3 class="lead">
            Meet, date and connect with people around Kenya in an instant. 
            Love is for everyone. Especially you. 
            And we want to help you find it.
        </h3>
        <br />
        <p>
            <a class="btn btn-info btn-lg" routerLink="/login">Login</a>
            <a class="btn btn-info btn-lg" routerLink="/register">Register</a>
        </p>
    </div>
    <div class="col-md-6 col-sm-12 hidden-xs">
        <img src="../../../assets/images/poster.jpg" alt="">
    </div>
</div>