<dashnavbar></dashnavbar>
<div class="container">
  <div class="row">
    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Looking for <span class="caret"></span>
            </button>
      <ul class="dropdown-menu">
        <li><a href="#">Female</a></li>
        <li><a href="#">Male</a></li>
        <li><a href="#">Both</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                In Location <span class="caret"></span>
              </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lang'ata</a></li>
        <li><a href="#">South C</a></li>
        <li><a href="#">Nairobi</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  With Age <span class="caret"></span>
                </button>
      <ul class="dropdown-menu">
        <li><a href="#">18-25</a></li>
        <li><a href="#">26-40</a></li>
        <li><a href="#">40-55</a></li>
        <li><a href='/profiles?age=55-60'></a></li>
      </ul>
    </div>
  </div>

  <div class="row" *ngFor="let profile of profiles | orderby:['!created_on'] | filterby:{'fullname':filter}">
    <div class="col-sm-6 col-xs-12 col-md-3 thumbnail" id="card">
      <div class="img">
        <img src="../../../assets/{{profile.avatar_url}}" class="img-responsive" />
      </div>
      <div class="caption">
        <h4>{{ profile.fullname }}</h4>
        <p>
          <b>
              <i class="fa fa-heart"></i> {{profile.gender}} in {{profile.location}}
              </b>
        </p>
        <p>
          <button (click)="viewProfile(profile)" class="btn btn-success btn-block">
                  <i class="fa fa-eye"></i> View Profile</button>
        </p>
      </div>
    </div>
  </div>
</div>