.jumbotron{
    background-color:white;
    color:black;
    text-align: center;
    /* width:100%;
    margin:0px; */
}
  
.card-footer{
    background-color: white;
    position: relative;
  }
  
  .img {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    height: 100px;
    width: 100%;
    display: block;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }
  
  #badge-round{
    font-family: 'Varela Round';
    background-color: purple;
    color: white;
    position: absolute;
    font-size: 15pt;
    text-align: center;
    top: -5px;
    right: -5px;
    border: 1px solid white;
    border-radius: 50%;
    padding:2px;
    width:40px;
    height: 40px;
  }
  
  #badge {
    font-family: 'Varela Round';
    background-color: purple;
    color: white;
    position: absolute;
    bottom: 0px;
    padding:5px;
    margin:0px;
    width:70%;
    border-top-right-radius: 100%;
    font-size: 11pt;
    vertical-align: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  
  /* .title{
    @include media-breakpoint-only(lg) {
      margin-top: 10px;
    }
  } */

  intro{
    padding:10px;
    
  }
  
  #card{
    padding-bottom:5px;    
    margin-top:2px 1px 1px 1px;
     /* box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3);
      -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3); */
      border-radius: 5%;
  }
